@import "./lib/variables";
@import "./lib/media-queries";
@import "./lib/common";
@import "./lib/sidebar";
@import "./lib/account-widget";
@import "./lib/absent-students-widget";
@import "./lib/absent-students-table";

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: $sidebar-width auto;
  font-family: 'Khula', sans-serif;
  color: #3B3B3B;
  @include respond-below(md) {
    grid-template-columns: auto;
    grid-template-rows: 70px auto;
  }
}

.searchbar {
  height: 40px;
  background: #FFFFFF;
  border: 1px solid rgba(189, 189, 189, 0.25);
  box-shadow: 0px 2px 9px rgba(196, 196, 196, 0.11);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  img {
    padding: 0 15px;
  }
  input {
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: $grey;
  }
}

.container {
  background: $lightgrey;
  padding: 20px 30px;
  overflow: auto;
  @include respond-below(md) {
    padding: 10px;
  }
  .toolbar {
    display: grid;
    grid-template-columns: 2.6fr 1fr;
    grid-column-gap: 30px;
    padding-bottom: 30px;
    @include respond-below(md) {
      display: none;
    }
    .notifications {
      @extend .touchable-opacity;
      position: relative;
      padding: 0 10px;
      &.has-badge::after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 8px;
        position: absolute;
        top: 0;
        right: 0;
        background: $blue-gradient;
      }
    }
    .avatar {
      margin: 0 15px;
      padding: 5px;
      background: $blue-gradient;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      @extend .flex-row;
      flex-grow: 0;
      justify-content: center;
    }
    small {
      color: grey;
      font-style: italic;
    }
  }
  .row {
    display: grid;
    grid-template-rows: $row-title-height auto;
    padding-bottom: 30px;
    .row-icon-box {
      padding: 10px;
      border-radius: 5px;
      width: 60px;
      height: 60px;
      @extend .flex-row;
      justify-content: center;
      flex-grow: 0;
    }
    .card {
      @extend .flex-row;
      justify-content: space-between;
    }
  }
  .row-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    @include respond-below(md) {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 10px;
    }
  }
  .row-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 1.4fr repeat(2, 1fr);
    grid-row-gap: 10px;
    padding-bottom: 30px;
    .row {
      padding: 0;
      &:first-child {
        grid-row: 1 / span 3;
        grid-column: 1 / span 1;
        @include respond-below(md) {
          padding-bottom: 20px;
        }
      }
    }
    @include respond-below(md) {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
      .row:first-child .card {
        height: 300px;
        padding: 10px 0;
      }
    }
  }
  .row-3 {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-column-gap: 20px;
    @include respond-below(md) {
      grid-template-columns: auto;
      grid-row-gap: 5px;
    }
  }
  .row-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    padding-bottom: 30px;
    @include respond-below(md) {
      grid-template-columns: auto;
      grid-template-rows: repeat(3, 1fr);
    }
    .row {
      padding: 0;
      &:nth-child(2) {
        grid-row: 1 / span 2;
        grid-column: 2 / span 1;
        @include respond-below(md) {
          grid-row: 1;
          grid-column: 1;
        }
      }
    }
  }
}

.opacity-transition-appear {
  opacity: 0;
}

.opacity-transition-appear.opacity-transition-appear-active {
  opacity: 1;
  transition: opacity .6s;
}

.card {
  background: #FFFFFF;
  border: 1px solid rgba(189, 189, 189, 0.25);
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 10px;
  min-height: 50px;
  &.flat {
    box-shadow: 0px 2px 9px rgba(196, 196, 196, 0.11);
  }
}

.button {
  @extend .touchable-opacity;
  color: $blue;
  font-size: 10px;
  font-weight: bold;
}

.legend-container {
  @extend .flex-row;
  .legend-key {
    width: 50px;
    height: 0;
    border: #EFEFEF solid 1.5px;
    border-radius: 1.5px;
    @include respond-below(md) {
      width: 30px;
    }
    &.dashed {
      border-width: 0.5px;
      border-style: dashed;
    }
  }
  .legend-text {
    font-size: 12px;
    padding: 0 20px;
    @include respond-below(md) {
      font-size: 10px;
      padding: 0 10px;
    }
  }
}

.chart-tooltip {
  background: #FFFFFF;
  border: 0.852923px solid rgba(140, 160, 179, 0.2);
  box-shadow: 0px 6.8066px 25.5248px rgba(151, 151, 151, 0.14);
  border-radius: 2.55877px;
  padding: 10px;
  color: $blue;
  font-weight: bold;
  font-size: 12px;
}

.popover .ant-popover-inner-content {
  padding: 10px;
}
