@import "./lib/variables";
@import "./lib/media-queries";
@import "./lib/common";
@import "./lib/sidebar";
@import "./lib/account-widget";

.app {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: $sidebar-width auto;
  font-family: 'Khula', sans-serif;
  @include respond-below(md) {
    grid-template-columns: auto;
    grid-template-rows: 70px auto;
  }
}

.container {
  background: $lightgrey;
}
